<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Login</title>
</head>

<body class="login--body">
    <div class="login--app-container">
        <div class="login--app-wrapper">
            <div class="login--signup-inputFeilds">
                <form  class="login--form">
                    <label for="email">Email: </label>
                    <input type="email" name="Email" id="email" placeholder="Enter your email" class="email">
                    <label for="password">Password: </label>
                    <input type="password" name="password" id="password" placeholder="Enter your password"
                        class="password">
                    <button type="submit" class="submit--btn">LOGIN</button>
                </form>
            </div>
            <div class="sign--up-text">
                Not a user? <a href="http://localhost:5500/signup.html" class="sign--up-link">Sign Up</a>
            </div>
        </div>
    </div>
    <script src="loginScript.js"></script>
</body>

</html>