<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO APP</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <div class="app-container">
        <h1 class="heading--text"></h1>
        <div class="input--box">
            <form class="form">
                <input type="text" name="todo--name" class="todo--input" placeholder=" Enter Todo">
                <button type="submit" class="submit--button">+</button>
            </form>
        </div>
        
        <div class="todos--container">
            <!-- <div class="todo--row">
                <div class="todo--data">Do Home Work</div>
                <div class="button--box">
                    <button class="done">✅</button>
                    <button class="delete">❌</button>
                    <button class="edit">📝</button>
                </div>
            </div>
            <div class="todo--row">
                <div class="todo--data">Do Home Work</div>
                <div class="button--box">
                    <button class="done">✅</button>
                    <button class="delete">❌</button>
                    <button class="edit">📝</button>
                </div>
            </div> -->
        </div>
        <div class="logout--btn-box">
            <button type="button" class="logout--btn">LOGOUT</button>
        </div>

    </div>
    <script src="script.js"></script>
</body>

</html>